{% extends 'base.html' %}

{% block header %}
  <h1>Login</h1>
{% endblock %}

{% block content %}
  <form id="userForm" action="/login" method="post">
    <label for="username">Käyttäjänimi:</label><br>
    <input type="text" id="username" name="username" required><br>

    <label for="password">Salasana:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <button type="submit" id="createButton" class="btn btn-danger" onclick="submitForm()">kirjaudu</button>
  </form>

{% endblock %}

