{% extends 'base.html' %}

{% block header %}
  <h1>Items</h1>
{% endblock %}

{% block content %}
  <form  action="/item/new" method="post">
  <label for="location">Location:</label><br>
  <input type="text" id="location" name="location"><br>
  
  <label for="description">Description:</label><br>
  <input type="text" id="description" name="description"><br>

  <label for="amount">Amount:</label><br>
  <input type="integer" id="amount" name="amount"><br>
  
    <button type="submit" class="btn btn-primary">Submit</button>

</form> 

{% endblock %}
