{% extends 'base.html' %}

{% block header %}
  <h1>Picklist</h1>
{% endblock %}

{% block content %}


  <form  action="/picklist/new" method="post">
  
  <label for="picklistnumber">picklistnumber:</label><br>
  <input type="integer" id="picklistnumber" name="picklistnumber"><br>
  
  <label for="assignto">assignto:</label><br>
  <select type="text" id="assignto" name="assignto">
      {% for u in users %}
              <option value={{ u[0] }}>{{ u[0] }}</option>
      {% endfor %}
  </select><br>
  
 
  
  
    <label for="warehouseitem">assignto:</label><br>
  <select type="text" id="warehouseitem" name="warehouseitem">
      {% for i in items %}
              <option value={{ i[0] }},{{ i[1] }}>{{ i[0] }} {{ i[1] }} ( {{ i[2] }} available ) </option>
      {% endfor %}
  </select><br>
  
    <label for="amount">Amount:</label><br>
  <input type="integer" id="amount" name="amount"><br>
  
  
    <input type="submit" value="Create">

</form> 
{% endblock %}
