{% extends 'base.html' %}

{% block header %}
  <h1>Poimintalista</h1>
{% endblock %}

{% block content %}

  <form action="/picklist/new" method="post">
  
  <label for="picklistnumber">Poimintalistan numero:</label><br>
  <input type="integer" id="picklistnumber" name="picklistnumber"><br>
  
  <label for="assignto">Määritä käyttäjälle:</label><br>
  <select type="text" id="assignto" name="assignto">
      {% for u in users %}
              <option value={{ u[0] }}>{{ u[0] }}</option>
      {% endfor %}
  </select><br>
  
  <label for="warehouseitem">Varastotuote:</label><br>
  <select type="text" id="warehouseitem" name="warehouseitem">
      {% for i in items %}
              <option value={{ i[0] }},{{ i[1] }}>{{ i[0] }} {{ i[1] }} ( {{ i[2] }} saatavilla ) </option>
      {% endfor %}
  </select><br>
  
  <label for="amount">Määrä:</label><br>
  <input type="integer" id="amount" name="amount"><br>
  
  <input type="submit" value="Luo">

</form> 
{% endblock %}

