{% extends 'base.html' %}

{% block header %}
  <h1>reset password</h1>
{% endblock %}

{% block content %}
  <form id="userForm" action="/user/resetpassword" method="post">
    <label for="username">Käyttäjänimi:</label><br>
    <input type="text" id="username" name="username" value={{ user }} readonly required><br>

    <label for="password">Salasana:</label><br>
    <input type="password" id="password" name="password" required><br>

    <label for="confirmpassword">Vahvista salasana:</label><br>
    <input type="password" id="confirmpassword" name="confirmpassword" required><br><br>

    <button type="submit" id="createButton" class="btn btn-danger" onclick="submitForm()">Luo</button>
  </form>
{% endblock %}
